Repository DeepDive-SOLID/Timemory, pull requests merged in 2025-09, with the labels that each got.

#58 feat: 캡슐 위치 생성 기능 추가
  backend/README.md
  backend/src/main/java/solid/backend/capsule/README.md
  backend/src/main/java/solid/backend/capsule/lt/controller/LtController.java
  backend/src/main/java/solid/backend/capsule/lt/dto/LtAddDto.java
  backend/src/main/java/solid/backend/capsule/lt/dto/LtListDto.java
  backend/src/main/java/solid/backend/capsule/lt/repository/LtQueryRepository.java
  backend/src/main/java/solid/backend/capsule/lt/service/LtService.java
  backend/src/main/java/solid/backend/capsule/lt/service/LtServiceImpl.java
  backend/src/main/java/solid/backend/jpaRepository/CapsuleLtRepository.java
Labels: enhancement, backend

#29 feat: 카카오맵 관련 컴포넌트 생성 & 캡슐내부화면 개발
  backend/src/main/java/solid/backend/capsule/cndt/dto/CapsuleListDto.java
  backend/src/main/java/solid/backend/capsule/cndt/service/CapsuleCndtServiceImpl.java
  backend/src/main/java/solid/backend/capsule/date/dto/CapsuleListDto.java
  backend/src/main/java/solid/backend/capsule/date/service/CapsuleDateServiceImpl.java
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/CapsuleApi.ts
  frontend/src/api/MapApi.ts
  frontend/src/api/open.ts
  frontend/src/assets/icons/kakao_logo_white.svg
  frontend/src/assets/icons/map_pin_blue.svg
  frontend/src/assets/icons/search.svg
  frontend/src/assets/images/map.svg
  frontend/src/assets/index.ts
  frontend/src/components/APP/StatusBar.tsx
  frontend/src/components/Domain/Group/ConditionCapsule.tsx
  frontend/src/components/Domain/Group/DateCapsule.tsx
  frontend/src/components/Domain/Group/MapCapsule.tsx
  frontend/src/components/Domain/Group/PlusButton.tsx
  frontend/src/components/Domain/Group/ProgressBar.tsx
  frontend/src/components/Domain/Map/ImgBox.tsx
  frontend/src/components/Domain/Map/Kakao.tsx
  frontend/src/components/Domain/Map/MapSearch.tsx
  frontend/src/components/Domain/Map/SearchInfo.tsx
  frontend/src/components/Domain/Map/SelectType.tsx
  frontend/src/components/Domain/Map/geocoder.ts
  frontend/src/components/Domain/Map/getDistance.ts
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/useCapsuleData.ts
  frontend/src/hooks/useLatLng.ts
  frontend/src/hooks/useMyLocation.ts
  frontend/src/hooks/useProgress.ts
  frontend/src/main.tsx
  frontend/src/pages/GroupCapsule.tsx
  frontend/src/pages/LocationCapsule.tsx
  frontend/src/pages/Quiz/QuizCondition.tsx
  frontend/src/pages/Quiz/QuizDate.tsx
  frontend/src/pages/Quiz/QuizLocation.tsx
  frontend/src/pages/SearchLocation.tsx
  frontend/src/store/index.ts
  frontend/src/store/locationSlice.ts
  frontend/src/store/searchTypeSlice.ts
  frontend/src/styles/Back.module.scss
  frontend/src/styles/ConditionCapsule.module.scss
  frontend/src/styles/CustomOverlay.module.scss
  frontend/src/styles/DateCapsule.module.scss
  frontend/src/styles/GroupCapsule.module.scss
  frontend/src/styles/MapCapsule.module.scss
  frontend/src/styles/MapSearch.module.scss
  frontend/src/styles/PlusButton.module.scss
  frontend/src/styles/ProgressBar.module.scss
  frontend/src/styles/SearchInfo.module.scss
  frontend/src/styles/SelectType.module.scss
  frontend/src/types/capsule.ts
  frontend/src/types/map.ts
  frontend/src/types/openCapsule.ts
Labels: enhancement, frontend

#59 feat: openlist 제작
  frontend/src/api/openlistApi.ts
  frontend/src/components/APP/TabBar.tsx
  frontend/src/components/Domain/GroupCard.tsx
  frontend/src/components/Domain/GroupTab.tsx
  frontend/src/components/UI/Card.tsx
  frontend/src/components/UI/CardList.tsx
  frontend/src/constants/events.ts
  frontend/src/main.tsx
  frontend/src/pages/GroupList.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/OpenList.tsx
  frontend/src/pages/Quiz/QuizOpen.tsx
  frontend/src/styles/App.module.scss
  frontend/src/styles/Card.module.scss
  frontend/src/styles/CategoryModal.module.scss
  frontend/src/styles/Group.module.scss
  frontend/src/styles/GroupCard.module.scss
  frontend/src/styles/GroupList.module.scss
  frontend/src/styles/InputBox.module.scss
  frontend/src/styles/Login.module.scss
  frontend/src/styles/NickName.module.scss
  frontend/src/styles/OpenList.module.scss
  frontend/src/styles/Quiz.module.scss
  frontend/src/styles/QuizBox.module.scss
  frontend/src/styles/TabBar.module.scss
  frontend/src/types/groupTabs.ts
  frontend/src/types/openlist.ts
Labels: enhancement, frontend

#64 feat: 오픈 그룹 기능 추가
  backend/README.md
  backend/src/main/java/solid/backend/entity/Capsule.java
  backend/src/main/java/solid/backend/jpaRepository/TeamRepository.java
  backend/src/main/java/solid/backend/open/README.md
  backend/src/main/java/solid/backend/open/controller/OpenController.java
  backend/src/main/java/solid/backend/open/dto/OpenCapsuleAddDto.java
  backend/src/main/java/solid/backend/open/dto/OpenCapsuleListDto.java
  backend/src/main/java/solid/backend/open/dto/OpenListDto.java
  backend/src/main/java/solid/backend/open/repository/OpenQueryRepository.java
  backend/src/main/java/solid/backend/open/service/OpenService.java
  backend/src/main/java/solid/backend/open/service/OpenServiceImpl.java
Labels: enhancement, backend

#74 feat: AI 검열 기능 추가
  frontend/src/api/censorshipApi.ts
  frontend/src/components/UI/InputBox.tsx
  frontend/src/pages/Quiz/QuizCondition.tsx
  frontend/src/pages/Quiz/QuizDate.tsx
  frontend/src/pages/Quiz/QuizLocation.tsx
  frontend/src/pages/Quiz/QuizOpen.tsx
Labels: enhancement, frontend

#78 feat: 캡슐 화면 개발
  frontend/src/api/MyCapsuleApi.ts
  frontend/src/components/Domain/CapsuleSlider.tsx
  frontend/src/components/Domain/LocationSection.tsx
  frontend/src/components/Domain/Map/ImgBox.tsx
  frontend/src/components/Domain/Map/Kakao.tsx
  frontend/src/components/Domain/MessageCard.tsx
  frontend/src/components/UI/DeleteConfirm.tsx
  frontend/src/hooks/useMyCapsuleData.ts
  frontend/src/main.tsx
  frontend/src/pages/MyCapsule.tsx
  frontend/src/pages/MyCapsuleMap.tsx
  frontend/src/styles/DeleteConfirm.module.scss
  frontend/src/styles/ImgBox.module.scss
  frontend/src/styles/MyCapsule.module.scss
  frontend/src/types/capsule.ts
  frontend/src/types/map.ts
Labels: enhancement, frontend

#77 feat: mycapsule 조회 및 삭제 기능 개발
  backend/src/main/java/solid/backend/capsule/space/README.md
  backend/src/main/java/solid/backend/capsule/space/controller/CapsuleSpaceController.java
  backend/src/main/java/solid/backend/capsule/space/dto/CapsuleSpaceResponseDto.java
  backend/src/main/java/solid/backend/capsule/space/dto/CapsuleSummaryDto.java
  backend/src/main/java/solid/backend/capsule/space/repository/CapsuleSpaceQueryRepository.java
  backend/src/main/java/solid/backend/capsule/space/service/CapsuleSpaceService.java
  backend/src/main/java/solid/backend/capsule/space/service/CapsuleSpaceServiceImpl.java
  backend/src/main/java/solid/backend/entity/Capsule.java
Labels: enhancement, backend

#103 fix: 이미지 url 변환 함수 수정 및 유틸 적용
  frontend/src/components/Domain/CapsuleSlider.tsx
  frontend/src/components/Domain/MessageCard.tsx
  frontend/src/utils/imageUtils.ts
Labels: bug, frontend

#106 v5.4
  backend/src/main/java/solid/backend/capsule/space/dto/CapsuleSummaryDto.java
  backend/src/main/java/solid/backend/capsule/space/service/CapsuleSpaceServiceImpl.java
  frontend/src/components/Domain/CapsuleSlider.tsx
  frontend/src/components/Domain/Map/Kakao.tsx
  frontend/src/components/Domain/MessageCard.tsx
  frontend/src/hooks/useMyLocation.ts
  frontend/src/utils/imageUtils.ts
Labels: bug, backend, frontend
